body {
    font-family: sans-serif;
    max-width: 40%;
    margin: 5vh auto;
    padding: 2rem;
    background: #f9f9f9;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

label, input, button {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

button {
    padding: 0.625rem;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

pre {
    background: #eee;
    padding: 1rem;
    white-space: collapse;
    word-wrap: break-word;
}